html,
body {
  height: 100%;
}
.bgImgDefault {
  background: green;
  height: 100%;
  background-size: cover;
}
.bgImgHot {
  background: linear-gradient(#ebd682, #ebae82, #95beca);
  height: 100%;
}
.bgImgCold {
  background: linear-gradient(#27044a, #1c2a53, #354246);
  height: 100%;
}
.formWrapper {
  display: flex;
  justify-content: center;
}
.infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.currentDayTempContainer {
  display: flex;
  align-items: center;
}
.minAndMaxTempContainer {
  display: flex;
  gap: 3rem;
}
.futureDaysContainer {
  display: flex;
}
